.answers-player-table{
    border-radius: 10px;
    background-color: rgb(163, 203, 255, 0.30);
    backdrop-filter:  blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    margin-top: 5%;
    border-bottom: 0px rgb(169, 221, 243, 0.0)
}

.answers-player-bt{
    background-color: #9A9EA1;
    
    font-family: 'Poppins', sans-serif;
    width: 25%;
    height: 45px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.answers-player-bt:hover{
    background-color: #d8d9da;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
