{% extends "layout_player.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



<form class="login-box mt-3"  action="" method="POST"> {% csrf_token %}


    <h2 class='mb-3' style="text-align: center; font-family: 'Poppins', sans-serif; color: #83617A;"><b>¡Responde la pregunta!</b></h2>

    {% for field in form  %}
    

        <label class="login-label my-0" for="{{field.auto_id}}">{{ field.label }}</label>

        {% render_field field class+="login-form" placeholder=field.label %}
        
        <div class="list-group mt-1">
            {% for error in field.errors %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-3">{{error}}</a>
            {%endfor%}
        </div>

    {% endfor %}

    <input class="login-bt" type="submit", value="Responder">

</form>


{% endblock %}