{% extends "layout_player.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <h1 class="text-center my-5" style="color: #A8B2BE;"><b>¡ Mira tus respuestas !</b> </h1>


    <table class="table table-striped table-hover w-100 answers-player-table mt-1">
        <thead>
            <tr>
                <th class="w-10 text-center" scope="col">Event</th>
                <th class="w-10 text-center" scope="col">Question</th>
                <th class="w-10 text-center" scope="col">Answer</th>

            </tr>
        
        </thead>

        <tbody>

            {% for answer in answers %}
            <tr>
                <td class="w-10 text-center">{{answer.question.event}}</td>
                <td class="w-10 text-center">{{answer.question}}</td>
                <td class="w-10 text-center">{{answer.answer}}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="w-10 text-center"> There are no exist answers </th>
            </tr> 
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}