{% extends "layout_player.html" %}
{% load static %}
{% block content %}


    <h1 class="text-center my-5" style="color: #A8B2BE;"><b>¡ Bienvenido {{request.user}} !</b> </h1>

    <div class="row justify-content-center w-100 px-5">

        <div class="col-3 d-flex align-items-stretch">
            <div class="card border-light shadow-lg w-100 index-card">

                <div class="card-header bg-transparent text-center"><h5 class="card-title text-center">Eventos</h5></div>

                <div class="card-body d-flex flex-column">
                    
                    <div class="d-flex flex-column justify-content-center mb-3">
                        <i class="fas fa-calendar fa-4x mb-3"></i>
                        <p class="card-text text-center mb-3">¡Mira los eventos para participar en las preguntas!.</p>
                        <a href="{% url 'eventsPlayerView' %}" class="index-bt">Ver eventos</a>
                    </div>

                </div>
            
            </div>
        
        </div>

        <div class="col-3 d-flex align-items-stretch">

            <div class="card border-light shadow-lg w-100 index-card">
            
                <div class="card-header bg-transparent text-center"><h5 class="card-title text-center">Resultados</h5></div>

                <div class="card-body d-flex flex-column">
                    
                    <div class="d-flex flex-column justify-content-center mb-3">
                        <i class="fas fa-dice-d20 fa-4x mb-3"></i>
                        <p class="card-text text-center mb-3">¡Mira los puntajes y ganadores de los eventos que se han hecho!.</p>
                        <a href="{% url 'winnersPlayerView' %}" class="index-bt">Ver resultados</a>
                    </div>

                </div>

            </div>

        </div>

        <!-- <div class="col-3 d-flex align-items-stretch">
            <div class="card border-light shadow-lg w-100 index-card">
                <div class="card-header bg-transparent text-center"><h5 class="card-title text-center">Respuestas</h5></div>

                <div class="card-body d-flex flex-column">
                    
                    <div class="d-flex flex-column justify-content-center mb-3">
                        <i class="fas fa-lightbulb fa-4x mb-3"></i>
                        <p class="card-text text-center mb-3">¡Mira las respuestas en las preguntas que participaste!.</p>
                        <a href="{% url 'answersPlayerView' %}" class="index-bt">Mis respuestas</a>
                    </div>

                </div>
            </div>
        </div> -->

        <div class="col-3 d-flex align-items-stretch">
            <div class="card border-light shadow-lg w-100 index-card">
                <div class="card-header bg-transparent text-center"><h5 class="card-title text-center">Preguntas</h5></div>

                <div class="card-body d-flex flex-column">
                    
                    <div class="d-flex flex-column justify-content-center mb-3">

                        <i class="fa-solid fa-question fa-4x mb-3"></i>

                        <p class="card-text text-center mb-3">¡Administra las preguntas que hiciste o crea preguntas nuevas!.</p>
                        
                        <div class='d-flex justify-content-center'>
                            <a href="{% url 'questionsPlayerView' %}" class="index-bt me-1">Mis preguntas</a>
                            <a href="{% url 'questionsPlayerAdd' %}" class="index-bt ms-1">¡Crea!</a>
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>


    </div>


{% endblock %}