{% extends "layout_player.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block content %}


<div class="container-fluid d-flex align-items-center flex-column px-5 pt-5" >  

    <div class="d-flex justify-content-end w-100 mt-5">
        <a class="answers-player-bt text-center mt-1" href="{% url 'players_add' %}">Agregar jugador</a>
    </div>

    <form class="w-100 mb-3"  action="" method="POST"> {% csrf_token %}

        <table class="table table-striped table-hover w-100 answers-player-table mt-3">
            
            <thead>
                <tr>
                    <th class="col text-center" scope="col">Nombre</th>
                    <th class="col text-center" scope="col">Apellido</th>
                    <th class="col text-center" scope="col">Fecha Nacimiento</th>
                    <th class="col text-center" scope="col">Celular</th>
                    <th class="col text-center" scope="col">Direccion</th>
                    <th class="col text-center" scope="col">Ciudad</th>
                    <th class="col text-center" scope="col">Provincia</th>
                    <th class="col text-center" scope="col">Pais</th>

                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class="col text-center">{% render_field form.first_name class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.last_name class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.date_birth class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.phone class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.adress class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.city class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.state class+="form-control" %}</td>
                    <td class="col text-center">{% render_field form.country class+="form-control" %}</td>

                </tr>    
            </tbody>

        </table>

        <div class="d-flex justify-content-end">
            <input class="answers-player-bt" type="submit", value="Filtrar">
        </div>

    </form>



    <table class="table table-striped table-hover w-100 answers-player-table mt-0">

        <thead>
            <tr>
                <th class="col text-center" scope="col">Usuario</th>
                <th class="col text-center" scope="col">Avatar</th>
                <th class="col text-center" scope="col">Nombre</th>
                <th class="col text-center" scope="col">Apellido</th>
                <th class="col text-center" scope="col">Fecha Nacimiento</th>
                <th class="col text-center" scope="col">Celular</th>
                <th class="col text-center" scope="col">Direccion</th>
                <th class="col text-center" scope="col">Ciudad</th>
                <th class="col text-center" scope="col">Provincia</th>
                <th class="col text-center" scope="col">Pais</th>
                <th class="col text-center" scope="col">Opciones</th>

            </tr>
        
        </thead>

        <tbody>

            {% for player in players %}
            <tr>
                
                <td class="w-10 text-center">{{player.user}}</td>
                <td class="w-10 text-center">
                    {% if player.image %}
                        <img src="{{player.image.url}}" class="img-fluid pt-1 me-1" style="max-height: 40px;">
                    {% else %}
                        <img src="/media/players/default/default.png" class="img-fluid pt-1 me-1" style="max-height: 40px;">
                    {% endif %}
                </td>
                <td class="w-10 text-center">{{player.first_name}}</td>
                <td class="w-10 text-center">{{player.last_name}}</td>
                <td class="w-10 text-center">{{player.date_birth}}</td>
                <td class="w-10 text-center">{{player.phone}}</td>
                <td class="w-10 text-center">{{player.adress}}</td>
                <td class="w-10 text-center">{{player.city}}</td>
                <td class="w-10 text-center">{{player.state}}</td>
                <td class="w-10 text-center">{{player.country}}</td>

                <td class="col-1  text-center options">
                    <div class="row" style="margin:0px">
                        <a class="btn btn-secondary no-gutters"  href="{% url 'players_edit' player.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger no-gutters"  href="{% url 'players_delete' player.id %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>    

            </tr>

            {% empty %}
            <tr>
                <td colspan="11" class="w-10 text-center"> There are no players </th>
            </tr> 

            {% endfor %}

        </tbody>

    </table>

    <div class="d-flex justify-content-end w-100">
        <a class="answers-player-bt text-center" href="{% url 'players_view' %}">Reset</a>
    </div>
    
</div>



{% endblock %}