{% extends "layout_player.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container d-flex align-items-center flex-column">

    <div class="login-box">
        
        <h2 style="text-align: center; font-family: 'Poppins', sans-serif; color: #9DACBF; margin-bottom: 25px;"><b>¡ Logueate !</b></h2>


        <form action="" method="POST"> {% csrf_token %}

            {% for field in form %}

                {% if field.label == 'Password'%}
                    <label id="showPasswordToggle" for="showPasswordCheck" class="container text-start ms-2">
                        <input class="indicator" id="showPasswordCheck" type="checkbox"/>
                        Mostrar 
                    </label>
                {% endif %}

                <label id="id_{{field.label}}" class='login-label' for="{{field.label}}"></label>
                {% render_field field class+=" login-form" placeholder=field.label %}

                <div class="list-group mt-3">
                    {% for error in field.errors %}
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-3">{{error}}</a>
                    {%endfor%}
                </div>


            {% endfor %}


            <input class="login-bt" type="submit", value="Entrar">


            <div class="row mb-3 align-items-center justify-content-center">        

                <label class="col-sm-8 col-form-label text-center"><b style="color: red;">{{message}}</b></label>

            </div>

            
        </form>

        <div class="login-links d-flex justify-content-center">        
            <a href="{% url 'signup' %}"> Crear una cuenta</a></b></label>
        </div>
    
        {% if signup_success %}

        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <h5><span class="badge bg-success">Cuenta creada correctamente</span></h5>
            </div>
        </div>
        
        {% endif %}
    
    </div>
</div>
<!-- </div> -->

<link rel="stylesheet" href="{% static 'css/evento-invierno.css' %}">
<script src="{% static 'js/TweenMax.js' %}"></script>
<script src="{% static 'js/MorphSVG.js' %}"></script>
<script src="{% static 'js/evento-invierno.js' %}"></script>

{% endblock %}