{% extends "layout_player.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container d-flex align-items-center flex-column">

    <div class="login-box">
        
        <h2 style="text-align: center; font-family: 'Poppins', sans-serif; color: #ddf1fa;"><b>¡ Create una cuenta !</b></h2>
        <br>
        <form action="" method="POST"> {% csrf_token %}

            {% for field in form %}

                <label class='login-label' for="{{field.label}}"></label>
                {% render_field field class+=" login-form" placeholder=field.label %}


                <div class="list-group mt-3">
                    {% for error in field.errors %}
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">{{error}}</a>
                    {%endfor%}
                </div>

        {% endfor %}

        <input class="login-bt" type="submit", value="Registrarme">

        </form>

    </div>

</div>

{% endblock %}