{% extends "layout_player.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container d-flex align-items-center flex-column">

    <div class="login-box">
        
        <h2 style="text-align: center; font-family: 'Poppins', sans-serif; color: #83617A;">Sign In</h2>
        <br>
        <form action="" method="POST"> {% csrf_token %}

            {% for field in form %}

                <label class='login-label' for="{{field.label}}"></label>
                {% render_field field class+=" login-form" placeholder=field.label %}

                <div class="list-group mt-3">
                    {% for error in field.errors %}
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-3">{{error}}</a>
                    {%endfor%}
                </div>


            {% endfor %}

            <input class="login-bt" type="submit", value="Login">


            <div class="row mb-3 align-items-center justify-content-center">        

                <label class="col-sm-8 col-form-label text-center"><b style="color: red;">{{message}}</b></label>

            </div>

            
        </form>

        <div class="login-links">        
            <a href="#"></a>
            <span class="spacer"></span>
            <a href="{% url 'signup' %}"> Sign Up</a></b></label>
        </div>
    
        {% if signup_success %}

        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <h5><span class="badge bg-success">Account created successfully</span></h5>
            </div>
        </div>
        
        {% endif %}
    
    </div>
</div>
<!-- </div> -->

{% endblock %}